// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

$bg-body: #eff3f8;
$bg-secoes: #f8f9fa;

html {
    height: 100vh;
}

body {
    background-color: $bg-body;    
    font-weight: 300;
    font-size: 13px;
}

header {
    width: 100%;
    height: 50px;
    background: url("../img/patternECOStransparente.png"), linear-gradient(to bottom right, #295ba7, #78b454);
    position: fixed;
    top: 0;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
}

.container-header-60 {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

                li  {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: white;

                        .menu-hamb {
                            padding: 0 10px 0 20px;
                        }

                        img {
                            height: 35px;
                        }
                    }
                }
                .inicio-container {
                    display: flex;
                    justify-content: space-between;
                    width: 100px;
                    font-size: 20px;
                    font-weight: bold;                
                }

        }

        .search-header {
            input {
                height: 30px;
                width: 400px;                
                padding-left: 10px;
                background-color: rgba(0, 0, 0, .1);
                border: 1px solid rgba(0, 0, 0, .1);
                border-radius: 5px;
            }

            input::placeholder {
                color: white;
            }

            span {
                margin-left: -25px;                
                color: white;
            }
        }
}

.container-header-40 {
    display: flex;
    align-items: center;
    width: 120px;
    margin-right: 20px;
    justify-content: space-between;
    
    span {
        color: white;
        height: 20px;
        font-size: 25px;
    }

    :last-child {
        font-size: 18px;
    }

    .menu-perfil {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 65px;
    }

    img {
        height: 40px;
        border-radius: 100px 100px;
    }
}

.container-every  {
    margin: 50px auto 0px auto;
    width: 100%;
    height: 100%;
    background-color: $bg-body;
    padding: 10px 8%;
    display: flex;
    gap: 15px;

    .noticias {
        width: 60%;
        height: 100%;
        background-color: $bg-secoes;
        border-radius: 4px;

        .noticias-card-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 15px;

            .card-noticias {
                background-color:#ffffff;
                width: 100%;
                height: 200px;
                border-radius: 5px;
                display: flex;
                color: black;

                .noticias-img-container {
                    width: 30%;
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                    }
                }            

                .noticias-txt {
                    width: 70%;
                    height: 100%;
                    padding: 13px;
                    display: flex;
                    flex-direction: column;
                    font-size: 15px;
                    line-height: 22px;

                     p + p {
                        margin-top: 10px;
                     }

                     .p-negrito {
                        font-weight: bold;
                        font-size: 14px;
                        margin-top: 13px;
                     }

                    .noticias-rodape {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;

                        :first-child {
                            font-size: 13px;
                            color: rgb(0, 0, 0, .4);
                        }

                        .icons-container {
                            display: flex;
                            color: rgb(0, 0, 0, .5);
                            gap: 5px;
                            align-items: baseline;

                            :first-child {
                                color: red;
                            }

                            .p-icon {
                                font-size: 13px;
                            }
                        }
                    }
                }
            
            }
        }  
    }

    .diversos {
        width: 40%;
        height: 100%;
        background-color: $bg-body;
        border-radius: 4px;
    }
}

.header-noticias, .header-processos, .header-aniv {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.processos {
    height: 380px;
    margin-bottom: 20px;

    .header-processos {
        background-color: $bg-secoes;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .sistemas-processos-body {
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $bg-secoes;
        
        .primeira-linha-icons, .segunda-linha-icons, .terceira-linha-icons {
            display: flex;  
            gap: 10px;
            width: 100%;
            justify-content: space-between;
            
            .box-icones {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: #33A76F;
                background-color: white;
                height: 80px;
                width: 130px;
            }
        }
     }    
}

.aniv {
    background-color: $bg-secoes;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .aniv-container {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        
        .aniv-cards {
            height: 100px;
            display: flex;
            align-items: center;
            padding-left: 15px;

            img {
                border-radius: 50px;
                height: 70px;
                margin: 10px;
            }
        }

        .textos-aniv {
            padding: 15px;

            h2 {
                padding-bottom: 10px;
            }

            p {
                padding-bottom: 2px;
            }

            .data-icon {
                display: flex;
                color: rgb(0, 0, 0, .5);
                font-size: 14px;
            }
        }
    }
}