// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

$bg-body: #eff3f8;
$bg-secoes: #f8f9fa;

html {
    height: 100vh;
}

body {
    background-color: $bg-body;
}

header {
    width: 100%;
    height: 50px;
    background: url("../img/patternECOStransparente.png"), linear-gradient(to bottom right, #295ba7, #78b454);
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
}

.container-header-60 {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

                li  {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: white;

                        .menu-hamb {
                            padding: 0 10px 0 20px;
                        }

                        img {
                            height: 35px;
                        }
                    }
                }
        }

        .search-header {
            input {
                height: 30px;
                width: 400px;
            }

            span {
                margin-left: -25px;
            }
        }
}

.container-header-40 {
    display: flex;
    align-items: center;
    
    span {
        color: white;
        height: 20px;
    }

    img {
        height: 50px;
        border-radius: 100px 100px;
    }
}

.container-every  {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: red;
    padding: 10px 4%;
    display: flex;
    gap: 15px;

    .noticias {
        width: 60%;
        height: 100%;
        background-color: $bg-secoes;
        border-radius: 4px;

        .noticias-card-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 15px;

            .card-noticias {
                background-color:#ffffff;
                width: 100%;
                height: 200px;
                border-radius: 5px;
                display: flex;
                color: black;

                .noticias-img-container {
                    width: 30%;
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                    }
                }            

                .noticias-txt {
                    width: 70%;
                    height: 100%;
                    padding: 13px;
                    display: flex;
                    flex-direction: column;
                    font-size: 15px;
                    line-height: 22px;

                     p + p {
                        margin-top: 10px;
                     }

                     .p-negrito {
                        font-weight: bold;
                        font-size: 14px;
                        margin-top: 13px;
                     }

                    .noticias-rodape {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;

                        :first-child {
                            font-size: 13px;
                            color: rgb(0, 0, 0, .4);
                        }

                        .icons-container {
                            display: flex;
                            color: rgb(0, 0, 0, .5);
                            gap: 5px;
                            align-items: baseline;

                            :first-child {
                                color: red;
                            }

                            .p-icon {
                                font-size: 13px;
                            }
                        }
                    }
                }
            
            }
        }  
    }

    .diversos {
        width: 40%;
        background-color: $bg-secoes;
        border-radius: 4px;
    }

}

.header-noticias, .header-processos {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}  
